.header {
    display: flex;
    height: 119px;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
    align-items: flex-start;
}
@media (max-width: 700px) {
    .header {
        height: 84px;
        padding-top: 28px;
        margin: 0 -16px 0;
    } 
 }