.element__delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;

  height: 35px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.element:hover > .element__delete {
  display: block;
}