.popup__content {
    background-color: white;
    color: black;
    box-sizing: border-box;
    width: 430px;
    max-height: 330px;
    padding: 34px 36px 37px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
}