.check {
    display: none;
}

.check:checked + .popup {
    transform: translateY(0);
}

.check:checked + .popup-view {
    transform: translateY(0);
}

.check:checked ~ .popup__overlay {
    display: block;
}