.element__like {
    align-self: center;
    height: 22px;

    background-image: url(./../../../../images/dislike.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
    background-color: white;
}