.popup__content {
    background-color: white;
    color: black;
    box-sizing: border-box;
    max-width: 390px;
    padding: 34px 36px 37px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    position: relative;
}